//$Variables
$font: "Lato", sans-serif;
$fsize-default: 16px;
//===============================================
//$MEDIA
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1260px;
$xxl: 1410px;
//MEDIA MOBILEFIRST
$msm: 575px;
$mmd: 767px;
$mlg: 991px;
$mxl: 1219px;
$mxxl: 1409px;

//$Color
//===============================================
$color-body: #191C1F;
$color-accent: #eb672d;

$color-AntiqueBrass: #c58d66; //htmlcolor
$color-Mauvelous: #f17d9a; //cssColor
$color-Chenin: #ddd866; //JavaScriptColor
$color-HavelockBlue: #4b98d7; //AboutColor
//==============Шаблоны===========================